<section class="hero">
        <img style="height: 100vh; width: 100%;" src="../img/hero.jpeg" alt="">

       <!-- <div class="row mt-5"> -->
  <!-- <div class="col-md-6 m-auto"> -->
    <div class="card card-body text-center login" style="width: 300px; position:absolute; top:50%; left:10%; transform:translatey(-50%); align-items:center">
      
      <!-- <h1><i class="fab fa-node-js fa-3x"></i></h1> -->
      <img style="height:150px; width:150px; border-radius:50%;  " src="../img/logo.jpg" alt="">
      <p>Create an account or login</p>
      <a href="/users/register" class="btn btn-primary btn-block mb-2"
        >Register</a
      >
      <a href="/users/login" class="btn btn-secondary btn-block login">Login</a>
    </div>
  <!-- </div>
</div> -->
        
    </section>
